.main{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 150px 0 298px 0;
    background-color: grey;
}

.form{
    display: flex;
    justify-content: center;
    height: 425px;
    width: 40%;
    border-radius: 30px;
    box-shadow: 11px 12px 10px 12px rgb(207, 207, 207);
    padding-top: 150px;
    background-color: seagreen;
}

.login{
    height: 40px;
    width: 300px;
}

.mdp{
    height: 40px;
    width: 300px;
}

.bConnexion{
    background-color: silver;
    width: 280px;
}