.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex: 0 0 auto;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #b42828;
  height: 80px;
  padding: 0 20px;
}

.logo {     
  flex: 2;
}

.concreteLogo {
  width: 50px;
  height: 50px;
}

.searchBar {
  flex: 3;
  justify-content: center;
  margin: 0 16px;
}

.core {
  margin-top: 80px;
  display: flex;
  flex: 1 0 auto;
  }
  
.messageList {
  flex: 1;
  background-color: #2270b9;
  border-color: aqua;
}
.myprofile {
  flex: 1;
  background-color: #2270b9;
  border-color: aqua;
}
.friendlist{
  flex: 1;
  background-color: #2270b9;
  border-color: aqua;
}


.sideBar {
  flex: 0 0 300px;
  background-color: #0e3d18;
}