.options {
    display: flex;
    justify-content: center;
}

.options button {
    width: 98%;
    height: 50px;
    cursor: pointer;

    font-size: 17px;
    font-weight: 450;
    background: none;
}

.options button:hover {
    background-color: red;
}